[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==9.0.1"
click = "==8.0.3"
flask = "==2.0.2"
flask-restful = "==0.3.9"
flask-sqlalchemy = "==2.5.1"
flask-bcrypt = "==0.7.1"
flask-migrate = "==2.1.1"
flask-restplus = "==0.10.1"
flask-script = "==2.0.6"
flask-testing = "==0.7.1"
itsdangerous = "==1.1.0"
jinja2 = "==2.11.2"
markupsafe = "==1.1.1"
pytz = "==2020.1"
six = "==1.15.0"
sqlalchemy = "==1.4.28"
werkzeug = "==1.0.1"
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==0.26.1"
connexion = {extras = ["swagger-ui"],version = "*"}
pytest = "==6.2.5"

[dev-packages]

[requires]
python_version = "3.8"
